nav.pagination__container.d-flex.align-items-center
  a(href="#").pagination__link.pagination__link--prev.font-size-20.border-circle.background-gray-5.d-flex.justify-content-center.align-items-center.text-decoration-none
    i.fas.fa-chevron-left
  a(href="#").pagination__link.border-circle.background-gray-5.d-flex.justify-content-center.align-items-center.font-bold.text-decoration-none
    | 1
  a(href="#").pagination__link.active.border-circle.background-gray-5.d-flex.justify-content-center.align-items-center.font-bold.text-decoration-none
    | 2
  a(href="#").pagination__link.border-circle.background-gray-5.d-flex.justify-content-center.align-items-center.font-bold.text-decoration-none
    | 3
  a(href="#").pagination__link.border-circle.background-gray-5.d-flex.justify-content-center.align-items-center.font-bold.text-decoration-none
    | 4
  a(href="#").pagination__link.pagination__link--next.font-size-20.border-circle.background-gray-5.d-flex.justify-content-center.align-items-center.text-decoration-none
    i.fas.fa-chevron-right
