.our_service
  &__item
    display: flex
    flex-direction: column
    transition: all .3s
    @media screen and ( min-width: 576px )
      flex-direction: row
      &:hover
        box-shadow: 0 0 22px 0 rgba($gray-4, .5)
        text-decoration: none
        background: $white-1
        .our__service__item--title
          transition: all .3s
          text-decoration: underline
          color: $yellow-1
  &__item--icon
    position: relative
    height: 96px
    flex: 0 0 96px
    max-width: 96px
    @media screen and ( min-width: 576px )
      border-right: 1px solid $white-3
      height: 120px
      flex: 0 0 120px
      max-width: 120px
    img
      width: 56px
      height: 56px
      @media screen and ( min-width: 576px )
        width: 74px
        height: 74px
  &__tab--item
    cursor: pointer
    transition: all .3s
    + .our_service__tab--item
      margin-left: 50px
    &.active,
    &:hover,
      text-decoration: none
      box-shadow: 0 3px 0 0 $yellow-1
  &__tab--content
    transition: all .3s
    opacity: 0
    visibility: hidden
    height: 0
    &.active
      opacity: 1
      visibility: visible
      height: auto
