.support__container.background-image.border-top-yellow.padding-top-64.padding-bottom-64
  .container
    .row
      .col-sm-10.col-md-7.mx-auto.text-center.font-black
        h4.color-white-2.d-inline-block.font-size-18.font-size-sm-20.underline-yellow.mb-3.margin-bottom-sm-32 24/7 Active Suport Team
        h2.color-white-2.d-inline-block.font-size-30.font-size-sm-45.mb-3.margin-bottom-sm-32 Need Immediate Support Or Any Help?
        p.font-size-14.font-size-sm-18.color-white-1.font-medium.margin-bottom-32 Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth the master-builder of human
        a(href="#").color-black.hover-shadow-yellow.support__button.font-bold.font-size-12.font-size-sm-14.text-uppercase.border-button.border-circle.background-yellow.text-decoration-none.py-3.px-4
          | Meet with us 
          i.far.fa-paper-plane.ml-2
