.service__container.container.padding-top-64.padding-bottom-64
  .row
    .col-md-4
      .service__item.hover-shadow-gray.mb-3.mb-md-0
        .service__item--main.padding-32
          .service__item--icon.mb-2.mb-sm-3
            i.fas.fa-square-full
            img(class="lazy" data-src="./img/icon01.png")
          a(href="#").d-inline-block.font-size-22.font-size-sm-30.hover-link.service__item--title.mb-2.mb-sm-3 Supply Chain
          p.service__item--text.font-size-16.font-size-sm-18.mb-3.mb-sm-5
            | Experts who have extensive,
            br
            | hands-on experience in supply
            br
            | chain management
          a(href="#").hover-link.service__item--link.underline-yellow Connect with an Expert
    .col-md-4
      .service__item.hover-shadow-gray.mb-3.mb-md-0
        .service__item--main.padding-32
          .service__item--icon.mb-2.mb-sm-3
            i.fas.fa-square-full
            img(class="lazy" data-src="./img/icon02.png")
          a(href="#").d-inline-block.font-size-22.font-size-sm-30.hover-link.service__item--title.mb-2.mb-sm-3 Supplier
          p.service__item--text.font-size-16.font-size-sm-18.mb-3.mb-sm-5 Innovatine and varied use of technology on the road, ocean, railways, in the air.
          a(href="#").hover-link.service__item--link.underline-yellow Connect with an Expert
    .col-md-4
      .service__item.hover-shadow-gray.mb-3.mb-md-0
        .service__item--main.padding-32
          .service__item--icon.mb-2.mb-sm-3
            i.fas.fa-square-full
            img(class="lazy" data-src="./img/icon03.png")
          a(href="#").d-inline-block.font-size-22.font-size-sm-30.hover-link.service__item--title.mb-2.mb-sm-3 Solutions
          p.service__item--text.font-size-16.font-size-sm-18.mb-3.mb-sm-5 Global leaders in intermodal, less-than-truckload, supply chain management.
          a(href="#").hover-link.service__item--link.underline-yellow Connect with an Expert
