.service__container.container.padding-top-64.padding-bottom-64
  .row
      .col-4
        .service__item.padding-32
          .service__item--icon.mb-3
            i.fas.fa-square-full
            img(src="img/icon01.png")
          h3.service__item--title.mb-3 Supply Chain
          p.service__item--text.mb-5
            | Experts who have extensive,
            br
            | hands-on experience in supply
            br
            | chain management
          a(href="#").service__item--link.underline-yellow Connect with an Expert
      .col-4
        .service__item.padding-32
          .service__item--icon.mb-3
            i.fas.fa-square-full
            img(src="img/icon02.png")
          h3.service__item--title.mb-3 Supplier
          p.service__item--text.mb-5 Innovatine and varied use of technology on the road, ocean, railways, in the air.
          a(href="#").service__item--link.underline-yellow Connect with an Expert
      .col-4
        .service__item.padding-32
          .service__item--icon.mb-3
            i.fas.fa-square-full
            img(src="img/icon03.png")
          h3.service__item--title.mb-3 Solutions
          p.service__item--text.mb-5 Global leaders in intermodal, less-than-truckload, supply chain management.
          a(href="#").service__item--link.underline-yellow Connect with an Expert
