.customer__container(class="lazy" data-bg="./img/Banner/banner01.jpg").background-image.border-top-yellow.padding-top-64.padding-bottom-64
  .container
    .row
      .col-12
        .color-gray-3.mb-2.mb-sm-3
          a(href="#").font-size-16.font-size-sm-18.font-bold.text-decoration-none Our Customers
        h2.color-white-3.font-size-30.font-size-sm-45.font-black.mb-3.margin-bottom-sm-32
          | Here are just a few examples
          br
          | of Client Relationships
      .col-12
        include ../swiper/swiper-customer/swiper-customer.pug