.customer__container.background-image.border-top-yellow.padding-top-64.padding-bottom-64
  .container
    .row
      .col-12
        h4.color-gray-3.font-size-18.font-bold.mb-3 Our Customers
        h2.color-white-3.font-size-45.font-black.margin-bottom-32 
          | Here are just a few examples
          br
          | of Client Relationships
      .col-12
        include ../swiper/swiper-customer/swiper-customer.pug