nav.breadcrumb__container.list-unstyled.d-flex.color-white-1
  li.breadcrumb__item
    a(href="#").breadcrumb__link HOME
  li.breadcrumb__item
    a(href="#").breadcrumb__link STRATEGY
  li.breadcrumb__item
    a(href="#").breadcrumb__link NEWS - EVENTS