block var
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="./css/global.min.css")
    link(rel="stylesheet" href="./css/main.min.css")
    title #{title}
  body
    block header
      include ../components/header/header.pug
    main
      block main
    block footer
      include ../components/footer/footer.pug
    .stuff.d-flex.align-items-center.flex-column
      a(href="#").stuff__chat.d-flex.justify-content-center.align-items-center.border-circle.background-yellow.text-decoration-none.font-size-20.mb-3
        img.stuff__chat--icon(src="./img/icon-chat.png" alt="icon-chat.png")
      a(href="#")#stuff__top.stuff__top.d-flex.justify-content-center.align-items-center.background-yellow.text-decoration-none.hover-button.font-size-20
        i.fas.fa-long-arrow-alt-up
    script(src="./js/global.min.js")
    script(src="./js/main.min.js")
    block script
