.offcanvas.offcanvas_overlay
  .offcanvas_bar
    .offcanvas_header
      a(href="index.html")
        img.lazy.offcanvas_header__logo(data-src="./img/seekers-logo.svg" alt="logo-top")
    ul.offcanvas_nav
      li.offcanvas_nav__item
        a(href="index.html").offcanvas_nav__link HOME
      li.offcanvas_nav__item
        a(href="#").offcanvas_nav__link STRATEGY
        ul.offcanvas_nav__sub
          li.offcanvas_nav__item
            a(href="#").offcanvas_nav__link Welcome/ Strategic Direction
          li.offcanvas_nav__item
            a(href="#").offcanvas_nav__link About Us
          li.offcanvas_nav__item
            a(href="#").offcanvas_nav__link News - Events
      li.offcanvas_nav__item
        a(href="index.html").offcanvas_nav__link SUPPLY CHAIN
      li.offcanvas_nav__item
        a(href="index.html").offcanvas_nav__link LOGISTICS
      li.offcanvas_nav__item
        a(href="index.html").offcanvas_nav__link CUSTOMERS
      li.offcanvas_nav__item
        a(href="index.html").offcanvas_nav__link CONTACT
      li.offcanvas_nav__divider
      li.offcanvas_nav__item
        .offcanvas_nav__link
          span.font-black Call Us Now:  
          a(href="#") +84 909 876 543
      li.offcanvas_nav__item
        .offcanvas_nav__link
          span.font-black Email:  
          a(href="#") Sales@cseeker.com.vn
      li.offcanvas_nav__item
        span.font-black Follow us:
      li.offcanvas_nav__item
        .d-flex
          .mr-2
            a(href="#").offcanvas_nav__link
              i.fab.fa-facebook-square
              |  Facebook
          .mr-2
            a(href="#").offcanvas_nav__link
              i.fab.fa-twitter-square
              |  Twitter
          .mr-2
            a(href="#").offcanvas_nav__link
              i.fab.fa-linkedin
              |  Linkedin
      li.offcanvas_nav__divider
      li.offcanvas_nav__item
        .header__language
          a(href="#").hover-link.header__language--item.color-white-1.font-bold.font-size-14.text-decoration-none EN
          img.mx-1(src="./img/slash-black.png" alt="/")
          a(href="#").hover-link.header__language--item.color-white-1.font-bold.font-size-14.text-decoration-none VN
      li.offcanvas_nav__divider
      li.offcanvas_nav__item
        div(role='button').d-block.offcanvas_button__close
          span.offcanvas_icons.mdi.mdi-close
          | CLOSE
