extends _layout.pug

block var
  -var title = 'Seekers | About'

block main
  .banner__page(class="lazy" data-bg="./img/Banner/10_h.jpg")
    .banner__page--content
      .container
        .row
          .col-12
            h2.color-white-1.font-size-45.font-size-sm-75.font-black.margin-bottom-32.margin-bottom-sm-64 About us
            nav.breadcrumb__container.list-unstyled.d-flex.flex-wrap.color-white-1.line-height-1.text-uppercase
              li.breadcrumb__item
                a(href="#").breadcrumb__link HOME
              li.breadcrumb__item
                a(href="#").breadcrumb__link STRATEGY
              li.breadcrumb__item
                a(href="#").breadcrumb__link ABOUT US
  .about__page(class="lazy" data-bg="./img/background-image.jpg")
    .container.padding-y-64.padding-y-sm-84
      .about__page__content.row
        .col-sm-5
          h4.color-gray-3.font-size-16.font-size-sm-18.font-bold.mb-sm-3 Our Strategy
          h2.text-break.color-title.font-size-30.font-size-sm-45.font-black.mb-3.mb-sm-0 Worldwide Logistics, Freight, Forwarding, Road Haulage.
        .col-sm-7.font-size-16.color-dark-6
          p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage
      .row.margin-top-32
        .col-12
          .line
      .row.margin-top-32
        .col-sm-5
          h4.color-gray-3.font-size-16.font-size-sm-18.font-bold.mb-sm-3 Our Values
          h2.text-break.color-title.font-size-30.font-size-sm-45.font-black.mb-3.mb-sm-0 Giving customers a unique experience of partnership.
        .col-sm-7.font-size-16.color-dark-6
          p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          p.mb-0 Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage
    .border-top-yellow
      img.w-100(class="lazy" data-src="./img/aboutlf_imagecap1.jpg" alt="aboutlf_imagecap1.jpg")
    .container.padding-y-64.padding-y-sm-84
      .row
        .col-10.col-sm-8.contact__page__content.mx-auto
          img(class="lazy" data-src="./img/seekers-logo-icon.svg" alt="seekers-logo-icon.svg")
          h2 Everyone within our business understands our mission
          p It means we don’t just come to work to do a job, we come to work to make a difference.
      .row.margin-top-32
        .col-10.col-sm-4.text-center.mb-3.mb-sm-0.mx-auto
          .about__page--icon.mb-3
            img(class="lazy" data-src="./img/icon07.png" alt="icon07.png")
          .about__page__content--icon
            h3 Commitment
            p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
        .col-10.col-sm-4.text-center.mb-3.mb-sm-0.mx-auto
          .about__page--icon.mb-3
            img(class="lazy" data-src="./img/icon08.png" alt="icon08.png")
          .about__page__content--icon
            h3 Proximity
            p Has survived not only five centuries, but asalso the leap into electronic typesetting, remaining essentially unchanged. Popularised in the 1960s with the release of Letraset
        .col-10.col-sm-4.text-center.mx-auto
          .about__page--icon.mb-3
            img(class="lazy" data-src="./img/icon09.png" alt="icon09.png")
          .about__page__content--icon
            h3 Excellence
            p Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .about__page__tab--container.padding-y-64.padding-y-sm-84.border-top-yellow.background-image
      .container
        .row.no-gutters-lg
          .col-sm-5.col-lg-3.offset-lg-3.mb-3.mb-sm-0
            nav.about__page__tab.list-unstyled.color-black.background-yellow-2.p-3
              li.about__page__tab--item.d-flex.align-items-center.font-bold.line-height-1.active(data-tab="supplier") Supplier
              li.about__page__tab--item.d-flex.align-items-center.font-bold.line-height-1(data-tab="supply-chain") Supply chain solutions
              li.about__page__tab--item.d-flex.align-items-center.font-bold.line-height-1(data-tab="importer-exporter-wholesaler") Importer/ Exporter/ Wholesaler
              li.about__page__tab--item.d-flex.align-items-center.font-bold.line-height-1(data-tab="freight-forwarder-handling") Freight Forwarder Handling
              li.about__page__tab--item.d-flex.align-items-center.font-bold.line-height-1(data-tab="oversea-cargo") Oversea cargo
          .col-sm-7.col-lg-6
            .about__page__tab__content.color-white-1.padding-left-md-32.padding-left-lg-64
              .about__page__tab__content--item.active(data-tab="supplier")
                h3.font-size-30.font-bold.mb-3 Supplier
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab recusandae, enim ea eaque, inventore deserunt nisi nam voluptatibus aliquid, quisquam officiis asperiores rem ad dignissimos ullam! Eum cupiditate doloribus omnis, odio sunt cumque incidunt ea inventore consequuntur libero repellendus architecto voluptate quidem est totam ratione sit autem quasi id iure?
                p.mb-4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                a(href="#").font-bold.underline-yellow Read more
              .about__page__tab__content--item(data-tab="supply-chain")
                h3.font-size-30.font-bold.mb-3 Supply chain solutions
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eveniet. Maiores, esse. Odit sint eos culpa dolore. Deleniti unde error mollitia doloremque natus non cupiditate quisquam voluptatem, aliquid dolorem, temporibus, ducimus et nihil dolore sit amet ratione beatae reiciendis cumque soluta quis. Eos qui facere eligendi laborum, at eius quo iste facilis modi doloribus, ipsa eum natus corporis unde aut!
                p.mb-4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                a(href="#").font-bold.underline-yellow Read more
              .about__page__tab__content--item(data-tab="importer-exporter-wholesaler")
                h3.font-size-30.font-bold.mb-3 Importer/ Exporter/ Wholesaler
                p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                p.mb-4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                a(href="#").font-bold.underline-yellow Read more
              .about__page__tab__content--item(data-tab="freight-forwarder-handling")
                h3.font-size-30.font-bold.mb-3 Freight Forwarder Handling
                p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                p.mb-4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                a(href="#").font-bold.underline-yellow Read more
              .about__page__tab__content--item(data-tab="oversea-cargo")
                h3.font-size-30.font-bold.mb-3 Oversea cargo
                p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                p.mb-4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                a(href="#").font-bold.underline-yellow Read more
    .about__page__swiper.container.padding-y-64.padding-y-sm-84
      .row.mb-3.margin-bottom-sm-32.align-items-end
        .col
          h4.color-gray-3.font-size-16.font-size-sm-18.font-bold.mb-0.mb-sm-3 Our Customers
          h2.color-title.font-size-30.font-size-sm-45.font-black.mb-0 Our Accreditations
        .col-auto
          .swr_navigate.mt-3.mt-sm-0
            .swr__navigation.d-flex
              button.hover-button.swr__button.swr__button--prev.border-button.background-yellow
                i.fas.fa-chevron-left
              button.hover-button.swr__button.swr__button--next.border-button.background-yellow.ml-1
                i.fas.fa-chevron-right
      .row
        .col-12.swr__carousel
          .swiper-container
            .swiper-wrapper
              .swiper-slide.swr__carousel--item.p-3
                a(href="#")
                  img.swiper-lazy(data-src="./img/logo/logo04.jpg" alt="logo04.jpg")
                .swiper-lazy-preloader
              .swiper-slide.swr__carousel--item.p-3
                a(href="#")
                  img.swiper-lazy(data-src="./img/customer/customer-2.png" alt="customer/customer-2.png")
                .swiper-lazy-preloader
              .swiper-slide.swr__carousel--item.p-3
                a(href="#")
                  img.swiper-lazy(data-src="./img/logo/logo01.jpg" alt="logo01.jpg")
                .swiper-lazy-preloader
              .swiper-slide.swr__carousel--item.p-3
                a(href="#")
                  img.swiper-lazy(data-src="./img/logo/logo03.jpg" alt="logo03.jpg")
                .swiper-lazy-preloader
              .swiper-slide.swr__carousel--item.p-3
                a(href="#")
                  img.swiper-lazy(data-src="./img/customer/customer-4.png" alt="customer/customer-4.png")
                .swiper-lazy-preloader
