extends _layout.pug

block var
  -var title = 'Seekers | Contact'

block main
  .banner__page(class="lazy" data-bg="./img/Banner/banner-contact.jpg")
    .banner__page--content
      .container
        .row
          .col-12
            h2.color-white-1.font-size-45.font-size-md-75.font-black.margin-bottom-32.margin-bottom-md-64 Contacts
            nav.breadcrumb__container.list-unstyled.d-flex.flex-wrap.color-white-1.line-height-1.text-uppercase
              li.breadcrumb__item
                a(href="#").breadcrumb__link HOME
              li.breadcrumb__item
                a(href="#").breadcrumb__link CONTACT
  .contact__page
    .container.padding-y-64.padding-y-md-84
      .row.margin-bottom-30
        .col-md-8.mx-auto.contact__page__content
          img(src="./img/seekers-logo-icon.svg" alt="seekers-logo-icon.svg")
          h2 We’d love to hear from you
          p
            | Please send your enquiry to  
            a(href="#") sales@seekers.com.vn
            |  or contact your local pecialists using the contact details below.
      .row
        .col-md-6.mb-3.mb-md-0
          .contact__page__box.border-gray.padding-32.text-center
            h3 Saigon (Head Office)
            p
              strong Seekers Group AB:
              |  32/45 Bui Dinh Tuy, Ward 24,
              br
              | Binh Thanh District, HCM City, Vietnam.
            p Phone: +84 (0) 909 876 543
            p Fax: +84 (0) 909 876 543
            p Email: info@seekers.com.vn
            p Monday - Friday: 08:00 am – 5:00 pm
            a(href="#").hover-icon.hover-shadow-yellow.d-inline-block.font-bold.color-black.font-size-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-3.px-4.mt-3
              | FIND US ON MAP
              i.fas.fa-arrow-right.ml-2
        .col-md-6.mb-3.mb-md-0
          .contact__page__box.border-gray.padding-32.text-center
            h3 Seekers USA Office
            p
              strong Seekers USA:
              |  710 N Tucker Boulevard Suite, 304
              br
              | Saint Louis, MO 63101-1161, USA.
            p Phone: +1 (314) 621-8411
            p Fax: +1 (314) 621-8411
            p Email: shipping@seekers.com.vn
            p Monday - Friday: 08:00 am – 5:00 pm
            a(href="#").hover-icon.hover-shadow-yellow.d-inline-block.font-bold.color-black.font-size-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-3.px-4.mt-3
              | FIND US ON MAP
              i.fas.fa-arrow-right.ml-2
    #contact__page__form.padding-y-64.padding-y-md-84.border-top-yellow.background-image(class="lazy" data-bg="./img/Banner/banner01.jpg")
      .container
        .row
          .col-12.margin-bottom-30
            h4.color-gray-3.font-size-14.font-size-md-18.font-bold.mb-3 Have Any Question?
            h2.color-white-3.font-size-30.font-size-md-45.font-black.mb-0
              | If you would like to know more
              br
              | about our services, please contact 
              br
              | us using this form
          .col-12
            form.row.contact__page__form
              .col-md-4
                input.contact__page__form--input.padding-left-30.padding-right-30.margin-bottom-30.font-regular.color-white-1.background-dark-8(type="text" placeholder="Complate Name")
              .col-md-4
                input.contact__page__form--input.padding-left-30.padding-right-30.margin-bottom-30.font-regular.color-white-1.background-dark-8(type="text" placeholder="Email Address")
              .col-md-4
                input.contact__page__form--input.padding-left-30.padding-right-30.margin-bottom-30.font-regular.color-white-1.background-dark-8(type="text" placeholder="Phone No")
              .col-12
                textarea.contact__page__form--textarea.padding-left-30.padding-right-30.margin-bottom-30.font-regular.color-white-1.background-dark-8.pt-3(placeholder="Your Message")
              .col-auto.ml-auto
                button.contact__page__form--button.hover-shadow-yellow.font-bold.color-black.font-size-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-3.px-4
                  | SEND MESSAGE
                  i.fas.fa-arrow-right.ml-2
    .contact__page__map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0273999425967!2d106.70140731417192!3d10.80921326154487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528be462cdfc9%3A0xf237dad9fa9bfcfa!2zMzIsIDQ1IELDuWkgxJDDrG5oIFR1w70sIHBoxrDhu51uZyAxMiwgQsOsbmggVGjhuqFuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1607542676629!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
