extends _layout.pug

block var
  -var title = 'Seekers | Customers'

block main
  .banner__page(class="lazy" data-bg="./img/Banner/banner-plane.jpg")
    .banner__page--content
      .container
        .row
          .col-12
            h2.color-white-1.font-size-75.font-black.margin-bottom-64 Customers
            nav.breadcrumb__container.list-unstyled.d-flex.color-white-1.line-height-1
              li.breadcrumb__item
                a(href="index.html").breadcrumb__link HOME
              li.breadcrumb__item
                a(href="customers.html").breadcrumb__link CUSTOMERS
  .customer__page.container.padding-top-84.padding-bottom-84
    .customer__page--item
      a(href="javascript:;" data-fancybox data-src="#customer_detail_1").customer__page--box.text-decoration-none
        .customer__page--logo
          img(src="./img/logo/logo05.png" alt="logo05.png")
      a(href="javascript:;" data-fancybox data-src="#customer_detail_1").customer__page--content.text-decoration-none
        h3 Best Royal Recruiting & Immigration Ltd
        p It Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,sines im when an unknown printer took a as in galley into of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      .customer__page__detail#customer_detail_1
        .container
          .row
            .col-auto.padding-32
              .customer__page__detail--logo
                img(src="./img/logo/logo05.png" alt="logo05.png")
            .col.padding-32
              //- a(href="javascript:parent.$.fancybox.close();").customer__page__detail--button--close
                svg(xmlns='http://www.w3.org/2000/svg' version='1' viewbox='0 0 24 24')
                  path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
              .customer__page__detail--content
                h3 Best Royal Recruiting & Immigration Ltd 
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
    //- =========================
    .customer__page--item
      a(href="javascript:;" data-fancybox data-src="#customer_detail_2").customer__page--box.text-decoration-none
        .customer__page--logo
          img(src="./img/logo/logo06.png" alt="logo06.png")
      a(href="javascript:;" data-fancybox data-src="#customer_detail_2").customer__page--content.text-decoration-none
        h3 Moelis Australia
        p It Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,sines im when an unknown printer took a as in galley into of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      .customer__page__detail#customer_detail_2
        .container
          .row
            .col-auto.padding-32
              .customer__page__detail--logo
                img(src="./img/logo/logo05.png" alt="logo05.png")
            .col.padding-32
              //- a(href="javascript:parent.$.fancybox.close();").customer__page__detail--button--close
                svg(xmlns='http://www.w3.org/2000/svg' version='1' viewbox='0 0 24 24')
                  path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
              .customer__page__detail--content
                h3 Moelis Australia
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
    //- =========================
    .customer__page--item
      a(href="javascript:;" data-fancybox data-src="#customer_detail_3").customer__page--box.text-decoration-none
        .customer__page--logo
          img(src="./img/logo/logo08.png" alt="logo08.png")
      a(href="javascript:;" data-fancybox data-src="#customer_detail_3").customer__page--content.text-decoration-none
        h3 American Airlines
        p It Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,sines im when an unknown printer took a as in galley into of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      .customer__page__detail#customer_detail_3
        .container
          .row
            .col-auto.padding-32
              .customer__page__detail--logo
                img(src="./img/logo/logo08.png" alt="logo08.png")
            .col.padding-32
              //- a(href="javascript:parent.$.fancybox.close();").customer__page__detail--button--close
                svg(xmlns='http://www.w3.org/2000/svg' version='1' viewbox='0 0 24 24')
                  path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
              .customer__page__detail--content
                h3 American Airlines
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
    //- =========================
    .customer__page--item
      a(href="javascript:;" data-fancybox data-src="#customer_detail_3").customer__page--box.text-decoration-none
        .customer__page--logo
          img(src="./img/logo/logo09.png" alt="logo09.png")
      a(href="javascript:;" data-fancybox data-src="#customer_detail_3").customer__page--content.text-decoration-none
        h3 The Emirates Group
        p It Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,sines im when an unknown printer took a as in galley into of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      .customer__page__detail#customer_detail_3
        .container
          .row
            .col-auto.padding-32
              .customer__page__detail--logo
                img(src="./img/logo/logo09.png" alt="logo09.png")
            .col.padding-32
              //- a(href="javascript:parent.$.fancybox.close();").customer__page__detail--button--close
                svg(xmlns='http://www.w3.org/2000/svg' version='1' viewbox='0 0 24 24')
                  path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
              .customer__page__detail--content
                h3 The Emirates Group
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
    //- =========================
    .customer__page--item
      a(href="javascript:;" data-fancybox data-src="#customer_detail_4").customer__page--box.text-decoration-none
        .customer__page--logo
          img(src="./img/logo/logo10.png" alt="logo10.png")
      a(href="javascript:;" data-fancybox data-src="#customer_detail_4").customer__page--content.text-decoration-none
        h3 
          | UPS Air Cargo
          br
          | Charter Sales
        p It Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,sines im when an unknown printer took a as in galley into of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      .customer__page__detail#customer_detail_4
        .container
          .row
            .col-auto.padding-32
              .customer__page__detail--logo
                img(src="./img/logo/logo10.png" alt="logo10.png")
            .col.padding-32
              //- a(href="javascript:parent.$.fancybox.close();").customer__page__detail--button--close
                svg(xmlns='http://www.w3.org/2000/svg' version='1' viewbox='0 0 24 24')
                  path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
              .customer__page__detail--content
                h3
                  | UPS Air Cargo
                  br
                  | Charter Sales
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
    //- =========================
    .customer__page--item
      a(href="javascript:;" data-fancybox data-src="#customer_detail_5").customer__page--box.text-decoration-none
        .customer__page--logo
          img(src="./img/logo/logo07.png" alt="logo07.png")
      a(href="javascript:;" data-fancybox data-src="#customer_detail_5").customer__page--content.text-decoration-none
        h3 United Parcel Service of America, Inc
        p It Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,sines im when an unknown printer took a as in galley into of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      .customer__page__detail#customer_detail_5
        .container
          .row
            .col-auto.padding-32
              .customer__page__detail--logo
                img(src="./img/logo/logo07.png" alt="logo07.png")
            .col.padding-32
              //- a(href="javascript:parent.$.fancybox.close();").customer__page__detail--button--close
                svg(xmlns='http://www.w3.org/2000/svg' version='1' viewbox='0 0 24 24')
                  path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
              .customer__page__detail--content
                h3 United Parcel Service of America, Inc
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
                p The Design is our playground in while we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties. Inhabit hearing perhaps on ye do no. It maids decay as there he his as Smallest on suitable disposed do although blessing he juvenile in. Society or if excited Contrary to popular belief, Lorem Ipsum is not simply random text forbade.
                p Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not as the only five centuries but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum with desktop publishing software.
  .container.padding-bottom-84
    .row
    .row
      .col-auto.ml-auto
        include ../components/pagination/pagination.pug