extends _layout.pug

block var
  -var title = 'Seekers'

block main
  include ../components/banner/banner.pug
  include ../components/strategy/strategy.pug
  include ../components/service/service.pug
  include ../components/support/support.pug
  include ../components/our-service/our-service.pug
  include ../components/customer/customer.pug
  include ../components/news/news.pug