extends _layout.pug

block var
  -var title = 'Seekers | News'

block main
  .banner__page(style="background-image: url('../img/Banner/section-bg-02.jpg')")
  .container.padding-top-84
    .row
      .col-4
        article.margin-bottom-30
          a(href="#" style="background-image: url(img/tab-image05.jpg)").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Successful Recertification According to ISO 14001 and 22000
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-4
        article.margin-bottom-30
          a(href="#" style="background-image: url(img/tab-image04.jpg)").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 The 1500s when an unknown printer took a galley of type and scrambled
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-4
        article.margin-bottom-30
          a(href="#" style="background-image: url(img/solution-image04.jpg)").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Has survived not only five centuries, but also the leap into electronic
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-4
        article.margin-bottom-30
          a(href="#" style="background-image: url(img/10_h.jpg)").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Consectetur, from a Lorem Ipsum of passage, and going through cites
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-4
        article.margin-bottom-30
          a(href="#" style="background-image: url(img/1-4-1.jpg)").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 College in Virginia, looked up one of the more obscure Latin words
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-4
        article.margin-bottom-30
          a(href="#" style="background-image: url(img/news04.jpg)").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 The word Richard McClintock, a Latin professor at Hampden-Sydney
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries