extends _layout.pug

block var
  -var title = 'Seekers | News'

block main
  .banner__page(class="lazy" data-bg="./img/Banner/section-bg-02.jpg")
    .banner__page--content
      .container
        .row
          .col-12
            h2.color-white-1.font-size-45.font-size-sm-75.font-black.margin-bottom-32.margin-bottom-sm-64 News - Events
            nav.breadcrumb__container.list-unstyled.d-flex.flex-wrap.color-white-1.line-height-1.text-uppercase
              li.breadcrumb__item
                a(href="#").breadcrumb__link HOME
              li.breadcrumb__item
                a(href="#").breadcrumb__link STRATEGY
              li.breadcrumb__item
                a(href="#").breadcrumb__link NEWS - EVENTS
  .container.padding-y-64.padding-y-sm-84
    .row
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/tab-image05.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Successful Recertification According to ISO 14001 and 22000
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/tab-image04.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 The 1500s when an unknown printer took a galley of type and scrambled
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/solution-image04.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Has survived not only five centuries, but also the leap into electronic
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/10_h.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Consectetur, from a Lorem Ipsum of passage, and going through cites
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/1-4-1.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 College in Virginia, looked up one of the more obscure Latin words
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/news04.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 The word Richard McClintock, a Latin professor at Hampden-Sydney
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/side-image01.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Software like in a Aldus PageMaker including versions of Lorem Ipsum 
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/post5-1.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Contrary to popular belief, Lorem Ipsum is not simply random text.
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
      .col-sm-6.col-md-4
        article.news__page--item.margin-bottom-30
          a(href="#" class="lazy" data-bg="./img/news02.jpg").news__image.background-image.box-4x3.mb-3
            .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
              i.fas.fa-chevron-right
          a(href="#").h6.d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 It has roots in a piece of classical Latin literature from 45 BC
          p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
          p.color-gray-1.font-size-15.mb-0 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
    .row
      .col-12
        include ../components/pagination/pagination.pug