extends _layout.pug

block var
  -var title = 'Seekers | Services'

block main
  .banner__page(style="background-image: url('./img/Banner/8-1.jpg')")
    .banner__page--content
      .container
        .row
          .col-12
            h2.color-white-1.font-size-75.font-black.margin-bottom-64 Supply Chain solutions
            nav.breadcrumb__container.list-unstyled.d-flex.color-white-1.line-height-1.text-uppercase
              li.breadcrumb__item
                a(href="#").breadcrumb__link HOME
              li.breadcrumb__item
                a(href="#").breadcrumb__link SUPPLY CHAIN
              li.breadcrumb__item
                a(href="#").breadcrumb__link SUPPLY CHAIN SOLUTIONS
  .detail__page
    .container.padding-bottom-84
      .row
        .col.padding-top-90.margin-right-70
          .detail__page__content
            h3 Supply chain solutions
            p
              strong
                i Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            img(src="./img/service02.jpg", alt="service02.jpg")
            h3 Supply chain solutions
            p Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.
            p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. Our offices and teams are based in over 50 sourcing and production markets, giving us the expertise and extensive network of supply chain partners needed.
            h3 Working with brands and retailers
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English Many desktop publishing packages and web page.
            ul
              li The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
              li It is a long established fact that a reader will be distracted by the readable content of a page when
              li There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            h3 Logistics solutions
            p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
            p All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            img(src="./img/service03.jpg", alt="service03.jpg")
            h3 Working with suppliers
            p “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
            p “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
            h3 Our business structure
            p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.
            p The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
        .col-auto.padding-top-90
          #left_sidebar_news_detail
            .detail__page__box.margin-bottom-50.padding-x-30.padding-y-42.color-white-1.background-image(style="background-image: url('./img/service04.jpg')")
              h4.border-left-white.pl-1.font-black.font-size-18.mb-3 NEED IMMEDIATE SUPPORT OR ANY HELP?
              p.font-medium.font-size-14.mb-4 Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth the master-builder of human
              a(href="contact.html#contact__page__form").d-inline-block.font-bold.color-white-1.font-size-13.text-uppercase.text-decoration-none.border-button.border-circle.background-black.py-3.px-4
                | CONTACT US
                i.far.fa-paper-plane.ml-2
            .detail__page__box.margin-bottom-50
              .detail__page__box__2
                .padding-x-30.padding-bottom-30.padding-top-42.border-white-5.background-white-1
                  h4.underline-yellow.pb-2.font-black.font-size-18 SUPPLY CHAIN
                  ul.pl-0.list-unstyled.margin-top-30.mb-0
                    li
                      a(href="#").font-medium
                        i.far.fa-arrow-alt-circle-right.mr-1
                        | Supplier
                    li
                      a(href="#").font-medium
                        i.far.fa-arrow-alt-circle-right.mr-1
                        | Supply chain solutions
                    li
                      a(href="#").font-medium
                        i.far.fa-arrow-alt-circle-right.mr-1
                        | Importer/Exporter/Wholesaler
            .detail__page__box.margin-bottom-50
              .detail__page__box__2
                .padding-x-30.padding-bottom-30.padding-top-42.border-white-5.background-white-1
                  h4.underline-yellow.pb-2.font-black.font-size-18 LOGISTICS
                  ul.pl-0.list-unstyled.margin-top-30.mb-0
                    li
                      a(href="#").font-medium
                        i.far.fa-arrow-alt-circle-right.mr-1
                        | Oversea cargo
                    li
                      a(href="#").font-medium
                        i.far.fa-arrow-alt-circle-right.mr-1
                        | Freight Forwarder Handling
            .detail__page__box
              .detail__page__box__2
                .padding-x-30.padding-bottom-30.padding-top-42.border-white-5.background-white-1
                  h4.underline-yellow.pb-2.font-black.font-size-18 STRATEGY
                  ul.pl-0.list-unstyled.margin-top-30.mb-0
                    li
                      a(href="#").font-medium
                        i.far.fa-arrow-alt-circle-right.mr-1
                        | Welcome/ Strategic Direction
                    li
                      a(href="#").font-medium
                        i.far.fa-arrow-alt-circle-right.mr-1
                        | About us
                    li
                      a(href="#").font-medium
                        i.far.fa-arrow-alt-circle-right.mr-1
                        | News - Events