.swiper__customer.swr__container.d-flex
  .swr__carousel.flex-grow-1
    .swiper-container.h-100
      .swiper-wrapper
        .swiper-slide.swr__carousel--item
            a(href="#")
              img.swiper-lazy(data-src="img/customer/customer-1.png" alt="image 1")
            .swiper-lazy-preloader.swiper-lazy-preloader-white
        .swiper-slide.swr__carousel--item
            a(href="#")
              img.swiper-lazy(data-src="img/customer/customer-2.png" alt="image 2")
            .swiper-lazy-preloader.swiper-lazy-preloader-white
        .swiper-slide.swr__carousel--item
            a(href="#")
              img.swiper-lazy(data-src="img/customer/customer-3.png" alt="image 3")
            .swiper-lazy-preloader.swiper-lazy-preloader-white
        .swiper-slide.swr__carousel--item
            a(href="#")
              img.swiper-lazy(data-src="img/customer/customer-4.png" alt="image 4")
            .swiper-lazy-preloader.swiper-lazy-preloader-white
  .swr_navigate
    .swr__navigation.d-flex.flex-column
      button.hover-button.swr__button.swr__button--prev.border-button.background-yellow.font-size-22
        i.fas.fa-chevron-left
      button.hover-button.swr__button.swr__button--next.border-button.background-yellow.font-size-22
        i.fas.fa-chevron-right
    .swr__pagination.background-gray-3.d-flex.justify-content-center.align-items-center
      //- span.swr__pagination--current 02
      //- span.mx-1 /
      //- span.swr__pagination--total 05