.topbar__main
  max-width: 1240px
  margin: 0 auto
  display: flex
  flex-direction: row
  padding-top: 25px
  padding-bottom: 50px

.topbar__phone, .topbar__email, .topbar__folowUs
  display: flex
  flex-direction: row

.topbar__phone
  flex-basis: 36%

.topbar__email
  flex-basis: 33%

.topbar__title
  font-family: interRegular
  color: gray
  margin-right: 10px

.topbar__value
  font-family: interBold
  text-decoration: underline solid #FACF64
  text-underline-position: under

.topbar__icon
  font-family: interBold

.topbar__folowUs i
  margin-right: 5px
  margin-left: 2px
