header.header__container.d-flex.align-items-end
  .container.mb-2
    .row.font-size-15
      .col
        span.color-gray-1 Call Us Now:
        span.color-dark-1.font-medium.underline-yellow.ml-2 +84 909 876 543
      .col
        span.color-gray-1 Email:
        span.color-dark-1.font-medium.underline-yellow.ml-2 Sales@cseeker.com.vn
      .col
        span.color-gray-1 Follow us:
        span.color-dark-1.ml-2
          i.fab.fa-facebook-square
          span.font-medium.ml-1 Facebook
        span.color-dark-1.ml-2
          i.fab.fa-twitter-square
          span.font-medium.ml-1 Twitter
        span.color-dark-1.ml-2
          i.fab.fa-linkedin
          span.font-medium.ml-1 Linkedin
  .header__navigate.container
    .row.h-100.align-items-center.justify-content-between
      .col-auto
        img.header__logo(src="img/logo-top.png", alt="logo-top")
      .col
        nav.header__menu.font-medium.font-size-15
          a(href="#").header__menu--item.color-white-1.active HOME
          a(href="#").header__menu--item.color-white-1 STRATEGY+
          a(href="#").header__menu--item.color-white-1 SUPPLY CHAIN+
          a(href="#").header__menu--item.color-white-1 LOGISTICS+
          a(href="#").header__menu--item.color-white-1 CUSTOMERS
          a(href="#").header__menu--item.color-white-1 CONTACT
      .col-auto
        .header__language
          a(href="#").header__language--item.color-white-1.font-bold.font-size-14.text-decoration-none EN
          span.mx-1.color-white-1 /
          a(href="#").header__language--item.color-white-1.font-bold.font-size-14.text-decoration-none VN
