.contact__page
  &__content
    text-align: center
    img
      width: 132px
      margin-bottom: 16px
    h1, h2, h3, h4, h5, h6
      color: $title
      font-size: 45px
      font-family: interBlack
      margin-bottom: 0
    p
      color: $text
      font-size: 18px
      font-family: interLight
    a,
    a:hover
      font-family: interSemiBold
      text-decoration: none
      border-bottom: 3px solid $yellow-1
  &__box
    h1, h2, h3, h4, h5, h6
      color: $dark-7
      font-size: 30px
      font-family: interBold
      margin-bottom: 24px
    p
      margin-bottom: 8px
  &__form
    &--input,
    &--textarea
      width: 100%
      height: 60px
      border: 1px solid $gray-1
      outline: none
      box-shadow: none
      &:focus
        outline: none
        box-shadow: none
    &--textarea
      height: 200px
  &__map
    height: 600px
