$title: #1e1e28
$text: #323232
$white-1: #ffffff
$white-2: #f2f2f2
$yellow-1: #FACF64
$gray-1: #646464
$gray-2: #808080
$dark-1: #151515
$dark-2: #0a0a0a

body
  font-family: interRegular
  background-repeat: no-repeat
  background-size: cover
  font-size: 15px
  padding: 0
  margin: 0

.font-thin
  font-family: interThin
.font-extra-light
  font-family: interExtraLight
.font-light
  font-family: interLight
.font-regular
  font-family: interRegular
.font-medium
  font-family: interMedium
.font-semi-bold
  font-family: interSemiBold
.font-bold
  font-family: interBold
.font-extra-bold
  font-family: interExtraBold
.font-black
  font-family: interBlack

.font-size-14
  font-size: 14px
.font-size-18
  font-size: 18px
.font-size-20
  font-size: 20px
.font-size-45
  font-size: 45px

.color-white-1
  color: $white-1
.color-white-2
  color: $white-2

.underline-yellow,
.underline-yellow:hover
  text-decoration: none
  border-bottom: 3px solid $yellow-1

.padding-32
  padding: 32px
.padding-top-32
  padding-top: 32px
.padding-bottom-32
  padding-bottom: 32px
.padding-right-32
  padding-right: 32px
.padding-left-32
  padding-left: 32px
.padding-64
  padding: 64px
.padding-top-64
  padding-top: 64px
.padding-bottom-64
  padding-bottom: 64px
.padding-right-64
  padding-right: 64px
.padding-left-64
  padding-left: 64px

.margin-32
  margin: 32px
.margin-top-32
  margin-top: 32px
.margin-bottom-32
  margin-bottom: 32px
.margin-right-32
  margin-right: 32px
.margin-left-32
  margin-left: 32px
.margin-64
  margin: 64px
.margin-top-64
  margin-top: 64px
.margin-bottom-64
  margin-bottom: 64px
.margin-right-64
  margin-right: 64px
.margin-left-64
  margin-left: 64px


.border-none
  border: none
.border-circle
  border-radius: 999px

@import "header/header.sass"
@import "footer/footer.sass"
@import "service/service.sass"
@import "support/support.sass"
