$title: #1e1e28
$text: #323232
$black: #000000
$white-1: #ffffff
$white-2: #f2f2f2
$white-3: #f0f0f0
$yellow-1: #FACF64
$gray-1: #646464
$gray-2: #808080
$gray-3: #969696
$gray-4: #c8c8c8
$gray-5: #dcdcdc
$gray-6: #d0d0d0
$dark-1: #151515
$dark-2: #0a0a0a
$dark-3: #1e1e1e
$dark-4: #141414
$dark-5: #282828
$dark-6: #464646
$dark-7: #1e1e26

body
  font-family: interRegular
  background-repeat: no-repeat
  background-size: cover
  font-size: 15px
  padding: 0
  margin: 0
a,
a:hover
  color: inherit

@media screen and ( min-width: 1200px )
  .container
    max-width: 1240px

.font-thin
  font-family: interThin
.font-extra-light
  font-family: interExtraLight
.font-light
  font-family: interLight
.font-regular
  font-family: interRegular
.font-medium
  font-family: interMedium
.font-semi-bold
  font-family: interSemiBold
.font-bold
  font-family: interBold
.font-extra-bold
  font-family: interExtraBold
.font-black
  font-family: interBlack

.font-size-14
  font-size: 14px
.font-size-15
  font-size: 15px
.font-size-16
  font-size: 16px
.font-size-18
  font-size: 18px
.font-size-20
  font-size: 20px
.font-size-22
  font-size: 22px
.font-size-30
  font-size: 30px
.font-size-45
  font-size: 45px
.font-size-75
  font-size: 75px

.color-title
  color: $title
.color-text
  color: $text
.color-yellow-1
  color: $yellow-1
.color-black
  color: $black
.color-white-1
  color: $white-1
.color-white-2
  color: $white-2
.color-white-3
  color: $white-3
.color-gray-1
  color: $gray-1
.color-gray-2
  color: $gray-2
.color-gray-3
  color: $gray-3
.color-gray-4
  color: $gray-4
.color-dark-1
  color: $dark-1
.color-dark-6
  color: $dark-6
.color-dark-7
  color: $dark-7

.background-yellow
  background-color: $yellow-1
.background-gray-3
  background-color: $gray-3
.background-gray-5
  background-color: $gray-5
.background-image
  position: relative
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.underline-yellow,
.underline-yellow:hover
  text-decoration: none
  border-bottom: 3px solid $yellow-1

.padding-10
  padding: 10px
.padding-top-10
  padding-top: 10px
.padding-bottom-10
  padding-bottom: 10px
.padding-right-10
  padding-right: 10px
.padding-left-10
  padding-left: 10px

.padding-22
  padding: 22px
.padding-top-22
  padding-top: 22px
.padding-bottom-22
  padding-bottom: 22px
.padding-right-22
  padding-right: 22px
.padding-left-22
  padding-left: 22px

.padding-30
  padding: 30px
.padding-top-30
  padding-top: 30px
.padding-bottom-30
  padding-bottom: 30px
.padding-right-30
  padding-right: 30px
.padding-left-30
  padding-left: 30px

.padding-32
  padding: 32px
.padding-top-32
  padding-top: 32px
.padding-bottom-32
  padding-bottom: 32px
.padding-right-32
  padding-right: 32px
.padding-left-32
  padding-left: 32px

.padding-64
  padding: 64px
.padding-top-64
  padding-top: 64px
.padding-bottom-64
  padding-bottom: 64px
.padding-right-64
  padding-right: 64px
.padding-left-64
  padding-left: 64px

.padding-84
  padding: 84px
.padding-top-84
  padding-top: 84px
.padding-bottom-84
  padding-bottom: 84px
.padding-right-84
  padding-right: 84px
.padding-left-84
  padding-left: 84px

.margin-10
  margin: 10px
.margin-top-10
  margin-top: 10px
.margin-bottom-10
  margin-bottom: 10px
.margin-right-10
  margin-right: 10px
.margin-left-10
  margin-left: 10px

.margin-15
  margin: 15px
.margin-top-15
  margin-top: 15px
.margin-bottom-15
  margin-bottom: 15px
.margin-right-15
  margin-right: 15px
.margin-left-15
  margin-left: 15px

.margin-30
  margin: 30px
.margin-top-30
  margin-top: 30px
.margin-bottom-30
  margin-bottom: 30px
.margin-right-30
  margin-right: 30px
.margin-left-30
  margin-left: 30px

.margin-32
  margin: 32px
.margin-top-32
  margin-top: 32px
.margin-bottom-32
  margin-bottom: 32px
.margin-right-32
  margin-right: 32px
.margin-left-32
  margin-left: 32px

.margin-64
  margin: 64px
.margin-top-64
  margin-top: 64px
.margin-bottom-64
  margin-bottom: 64px
.margin-right-64
  margin-right: 64px
.margin-left-64
  margin-left: 64px

.border-none
  border: none
.border-button
  border: none
  outline: none
  box-shadow: none
  &:focus
    outline: none
    box-shadow: none
.border-circle
  border-radius: 999px
.border-top-yellow
  border-top: 5px solid $yellow-1
.border-bottom-yellow
  border-bottom: 5px solid $yellow-1

.shadow-square-gray-3
  box-shadow: 0 0 0 1px $gray-3

.box-4x4
  position: relative
  display: block
  width: 100%
  padding-bottom: 100%
.box-4x3
  position: relative
  display: block
  width: 100%
  padding-bottom: calc( 100% * 3 / 4 )

.hover-link
  transition: all .3s
  &:hover
    text-decoration: underline
    color: $yellow-1
.hover-button
  transition: all .3s
  &:hover
    background: $dark-3
    color: $yellow-1
.hover-shadow-yellow
  transition: all .3s
  &:hover
    box-shadow: 0 0 10px 0 $yellow-1
.hover-shadow-gray
  transition: all .3s
  &:hover
    box-shadow: 0 0 22px 0 rgba($gray-4, .5)
.hover-background-white
  transition: all .3s
  &:hover
    background: $white-1
.hover-background-yellow
  transition: all .3s
  &:hover
    background: $yellow-1
.hover-icon
  transition: all .3s
  &:hover
    color: $black !important
    background: $yellow-1
    border-color: $yellow-1
    text-decoration: none

.line-height-1
  line-height: 1

.line
  width: 100%
  height: 1px
  background: $gray-6


.transition
  transition: all .3s

.auchor-top-left
  top: 0
  left: 0

.stuff
  position: fixed
  bottom: 15px
  right: 15px
  z-index: 9999
  &__chat
    width: 62px
    height: 62px
    &--icon
      width: 27px
  &__top
    width: 50px
    height: 70px
    opacity: 0
    visibility: hidden
.banner__page
  z-index: 1
  height: 400px
  position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba($black, .35)
    z-index: -1
  &--content
    position: absolute
    bottom: 30px
    width: 100%

@import "header/header.sass"
@import "footer/footer.sass"
@import "service/service.sass"
@import "support/support.sass"
@import "strategy/strategy.sass"
@import "customer/customer.sass"
@import "swiper/swiper-customer/swiper-customer.sass"
@import "news/news.sass"
@import "banner/banner.sass"
@import "our-service/our-service.sass"
@import "pagination/pagination.sass"
@import "breadcrumb/breadcrumb.sass"
