footer.footer.padding-top-64.padding-bottom-64
  .container
    .row.footer__background--main
      .col-9
        .row
          .col
            .footer__item
              h3.footer__title.mb-3 LET BUILD THE LINK
              p.footer__item--italic.padding-left-32
                | Subscribe to our monthly press review.
                br
                | Your address will not under
                | circumstances be
                br
                | given to third parties.
              .mb-3.padding-left-32
                form.footer__form(action="POST")
                  input.footer__form--input(type="text" name="email" placeholder="Your email address")
                  button.footer__form--button(type="submit") SUBSCRIBE
          .col-auto
            .footer__item
              h3.footer__title.mb-3 MENU
              ul.list-unstyled.padding-left-32
                li.text-uppercase
                  a(href="#").footer__item--link About Us
                li.text-uppercase
                  a(href="#").footer__item--link Strategy
                li.text-uppercase
                  a(href="#").footer__item--link Logistics
                li.text-uppercase
                  a(href="#").footer__item--link Customers
                li.text-uppercase
                  a(href="#").footer__item--link Supply Chain
                li.text-uppercase
                  a(href="#").footer__item--link News - Events
          .col-auto
            .footer__item
              h3.footer__title.mb-3 CONTACT
              p.padding-left-32
                a(href="#").footer__item--link.footer__item--icon
                  i.fab.fa-facebook-f
                a(href="#").footer__item--link.footer__item--icon
                  i.fab.fa-linkedin-in
                a(href="#").footer__item--link.footer__item--icon
                  i.far.fa-envelope
      .col-3
        .footer__item
          img.footer__logo.mb-3(src="img/logo-01.png")
          p.footer__item--white
            | 32/45 BUI DINH TUY, WARD 24,
            br
            | BINH THANH DISTRICT, HCM CITY.
            br
            | Sales@cseeker.com.vn
            br
            | +84 909 876 543
    .row.footer__background--secondary.footer__item.py-2
      .col-8
        .text-uppercase copyright 2020 @ cty tmdv we are one
      .col-4
        .text-uppercase.text-right
          | made with  
          i.footer__item--yellow.far.fa-heart
          |  by inner-gy studio
