footer.footer.border-top-yellow
  .container
    .row.footer__background--main.padding-top-sm-64.padding-bottom-sm-64.padding-left-sm-30.padding-right-sm-30
      .col-lg-6.col-xl-auto.order-2.order-xl-1.mb-4.mb-xl-0
        .footer__item
          h3.footer__title.mb-3 LET BUILD THE LINK
          p.footer__item--italic.padding-left-32
            | Subscribe to our monthly press review.
            br
            | Your address will not under
            | circumstances be
            br
            | given to third parties.
          .padding-left-32
            form.footer__form(action="POST")
              input.footer__form--input.col(type="text" name="email" placeholder="Your email address")
              button.footer__form--button.hover-shadow-yellow(type="submit") SUBSCRIBE
      .col-lg-6.col-xl-auto.order-3.order-xl-2.mb-4.mb-xl-0
        .footer__item
          h3.footer__title.mb-3 MENU
          ul.list-unstyled.line-height-1.mb-0.padding-left-32
            li.text-uppercase.mb-2
              a(href="#").footer__item--link.hover-link About Us
            li.text-uppercase.mb-2
              a(href="#").footer__item--link.hover-link Strategy
            li.text-uppercase.mb-2
              a(href="#").footer__item--link.hover-link Logistics
            li.text-uppercase.mb-2
              a(href="#").footer__item--link.hover-link Customers
            li.text-uppercase.mb-2
              a(href="#").footer__item--link.hover-link Supply Chain
            li.text-uppercase
              a(href="#").footer__item--link.hover-link News - Events
      .col-lg-6.col-xl-auto.order-4.order-xl-3
        .footer__item
          h3.footer__title.mb-3 CONTACT
          p.padding-left-32
            a(href="#").footer__item--link.footer__item--icon.hover-icon
              i.fab.fa-facebook-f
            a(href="#").footer__item--link.footer__item--icon.hover-icon
              i.fab.fa-linkedin-in
            a(href="#").footer__item--link.footer__item--icon.hover-icon
              i.far.fa-envelope
      .col-lg-6.col-xl.order-1.order-xl-4.mb-4.mb-xl-0
        .footer__item.padding-left-32.line-height-1.pl-xl-0
          img.footer__logo.mb-4(src="img/logo-01.png")
          p.mb-2.footer__item--white 32/45 BUI DINH TUY, WARD 24,
          p.footer__item--white BINH THANH DISTRICT, HCM CITY.
          p.footer__item--white
            a(href="#").footer__item--link.hover-link Sales@cseeker.com.vn
          p.mb-0.footer__item--white
            a(href="#").footer__item--link.hover-link +84 909 876 543
    .row.footer__background--secondary.footer__item.line-height-1.py-3.font-size-12.font-size-md-15
      .col-lg.padding-left-sm-30.padding-right-sm-30.d-flex.align-items-center.justify-content-center.justify-content-lg-start
        .text-uppercase.text-center.text-lg-left.mb-2.mb-lg-0 copyright 2020 @ cty tmdv we are one
      .col-lg.padding-left-sm-30.padding-right-sm-30.d-flex.align-items-center.justify-content-center.justify-content-lg-end
        .text-uppercase.text-center.text-lg-right
          | made with  
          i.footer__item--yellow.far.fa-heart
          |  by 
          a(href="#").footer__item--link.hover-link inner-gy studio
