.strategy__container.padding-top-64(class="lazy" data-bg="./img/background-image.jpg")
  .container
    .row.align-items-center
      .col-md-6
        .color-gray-3.mb-2.mb-md-3
          a(href="#").font-size-16.font-size-md-18.font-bold.text-decoration-none Our Strategy
        a(href="#").h2.d-block.hover-link.color-title.font-size-30.font-size-md-45.font-black.mb-3.margin-bottom-md-32 Worldwide Logistics, Air Freight Forwarding, Road Haulage.
        p.color-text.font-size-16.font-size-md-18.mb-3.margin-bottom-md-32 Lorem Ipsum it’s has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. A It has survived not only five centuries, but also the leap into electronic. It popularised in the 1960s with the release of Letraset sheets.
        a(href="#").hover-icon.hover-shadow-gray.d-inline-block.font-bold.color-black.font-size-12.font-size-md-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-3.px-4
          | DISCOVER STRATEGY
          i.fas.fa-arrow-right.ml-2
      .col-md-6
        a(href="#" class="lazy" data-bg="./img/10_h.jpg").strategy__image.background-image.box-4x4.mt-4.mt-md-0
          .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
            i.fas.fa-chevron-right