.strategy__container.padding-top-64
  .container
    .row.align-items-center
      .col-6
        h4.color-gray-3.font-size-18.font-bold.mb-3 Our Strategy
        a(href="#").d-block.hover-link.color-title.font-size-45.font-black.margin-bottom-32 Worldwide Logistics, Air Freight Forwarding, Road Haulage.
        p.color-text.font-size-18.margin-bottom-32 Lorem Ipsum it’s has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. A It has survived not only five centuries, but also the leap into electronic. It popularised in the 1960s with the release of Letraset sheets.
        a(href="#").hover-icon.hover-shadow-gray.d-inline-block.font-bold.color-black.font-size-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-3.px-4
          | DISCOVER STRATEGY
          i.fas.fa-arrow-right.ml-2
      .col-6
        .strategy__image.background-image.box-4x4
          a(href="#").hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
            i.fas.fa-chevron-right