.news__container.swr__container.padding-y-64
  .container
    .row.margin-bottom-32.align-items-end
      .col-sm.mb-3.mb-sm-0
        .color-gray-3.mb-2.mb-sm-3
          a(href="#").font-size-16.font-size-sm-18.font-bold.text-decoration-none News - Events
        h2.color-title.font-size-30.font-size-sm-45.font-black.mb-0 New Press release
      .col-sm-auto
        .swr_navigate
          .swr__navigation.d-flex
            button.hover-button.swr__button.swr__button--prev.border-button.background-yellow
              i.fas.fa-chevron-left
            button.hover-button.swr__button.swr__button--next.border-button.background-yellow.ml-1
              i.fas.fa-chevron-right
    .row
      .col-12.swr__carousel
        .swiper-container
          .swiper-wrapper
            .swiper-slide.swr__carousel--item
              a(href="#" style="background-image: url(./img/10_h.jpg)").news__image.background-image.box-4x3.mb-3
                .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
                  i.fas.fa-chevron-right
              a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Successful Recertification According to ISO 14001 and 22000
              p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
              p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
            .swiper-slide.swr__carousel--item
              a(href="#" style="background-image: url(./img/1-4-1.jpg)").news__image.background-image.box-4x3.mb-3
                .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
                  i.fas.fa-chevron-right
              a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 The 1500s when an unknown printer took a galley of type and scrambled
              p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
              p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries
            .swiper-slide.swr__carousel--item
              a(href="#" style="background-image: url(./img/news04.jpg)").news__image.background-image.box-4x3.mb-3
                .hover-icon.hover-shadow-yellow.strategy__image--next.font-size-20.border-circle.background-yellow.d-flex.justify-content-center.align-items-center
                  i.fas.fa-chevron-right
              a(href="#").d-inline-block.hover-link.color-title.font-size-22.font-medium.mb-3 Has survived not only five centuries, but also the leap into electronic
              p.d-inline-block.color-title.font-size-14.font-bold.underline-yellow.mb-3 November 25, 2020
              p.color-gray-1.font-size-15 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries