.banner__container.swiper-container
  .swr__carousel.swiper-wrapper
    .swr__carousel--item.swiper-slide(style="background-image: url(img/10_h.jpg)").background-image
      .container.h-100
        .row.h-100.align-items-center
          .col-6
            h2.color-white-1.font-size-75.font-black Quickest & Safe Delivery
            p.color-white-1.font-size-20.font-light.margin-bottom-32 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley...
            a(href="#").d-inline-block.font-bold.color-black.font-size-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-3.px-4
              | DISCOVER all
              i.fas.fa-arrow-right.ml-2
  .swr__pagination
    button.swr__button.swr__button--prev.font-size-20.border-circle.border-button.background-yellow.d-flex.justify-content-center.align-items-center
      i.fas.fa-chevron-left
    button.swr__button.swr__button--next.font-size-20.border-circle.border-button.background-yellow.d-flex.justify-content-center.align-items-center
      i.fas.fa-chevron-right
