.banner__container.swiper-container
  .swr__carousel.swiper-wrapper
    .swr__carousel--item.swiper-slide(style="background-image: url(img/10_h.jpg)").background-image
      .container.h-100
        .row.h-100.align-items-center
          .col-md-8.col-lg-6
            h2.color-white-1.font-size-30.font-size-md-75.font-black Quickest & Safe Delivery
            p.color-white-1.font-size-16.font-size-md-20.font-light.mb-3.margin-bottom-md-32 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley...
            a(href="#").hover-shadow-yellow.d-inline-block.font-bold.color-black.font-size-12.font-size-md-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-3.px-4
              | DISCOVER all
              i.fas.fa-arrow-right.ml-2
    .swr__carousel--item.swiper-slide(style="background-image: url(img/1-4-1.jpg)").background-image
      .container.h-100
        .row.h-100.align-items-center
          .col-md-8.col-lg-6
            h2.color-white-1.font-size-30.font-size-md-75.font-black Quickest
            p.color-white-1.font-size-16.font-size-md-20.font-light.mb-3.margin-bottom-md-32 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley...
            a(href="#").hover-shadow-yellow.d-inline-block.font-bold.color-black.font-size-12.font-size-md-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-2.py-md-3.px-4
              | DISCOVER all
              i.fas.fa-arrow-right.ml-2
    .swr__carousel--item.swiper-slide(style="background-image: url(img/18_fullhd.jpg)").background-image
      .container.h-100
        .row.h-100.align-items-center
          .col-md-8.col-lg-6
            h2.color-white-1.font-size-30.font-size-md-75.font-black Safe Delivery
            p.color-white-1.font-size-16.font-size-md-20.font-light.mb-3.margin-bottom-md-32 Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley...
            a(href="#").hover-shadow-yellow.d-inline-block.font-bold.color-black.font-size-12.font-size-md-14.text-uppercase.text-decoration-none.border-button.border-circle.background-yellow.py-2.py-md-3.px-4
              | DISCOVER all
              i.fas.fa-arrow-right.ml-2
  .swr__pagination
    button.hover-shadow-yellow.swr__button.swr__button--prev.font-size-16.font-size-md-20.border-circle.border-button.background-yellow.d-flex.justify-content-center.align-items-center
      i.fas.fa-chevron-left
    button.hover-shadow-yellow.swr__button.swr__button--next.font-size-16.font-size-md-20.border-circle.border-button.background-yellow.d-flex.justify-content-center.align-items-center
      i.fas.fa-chevron-right
